target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nbactions.xml
nb-configuration.xml
*.mwb.bak
*.war
nb_jr_remoting.cfg
src/main/webapp/ext-lib/
logs/
.idea/
fablab-manager.iml
application-dev.properties
