<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	
	<context:component-scan base-package="net.collaud.fablab.api" />
		
	<mvc:annotation-driven>
		<mvc:message-converters> 
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="net.collaud.fablab.api.rest.HibernateAwareObjectMapper" />
				</property>
			</bean> 
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean name="propertyUtils" class="net.collaud.fablab.api.web.SpringPropertiesUtils">
		<property name="location" value="file:${catalina.home}/conf/fablab-config.properties"/>
	</bean>
	
</beans>