<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans" 
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 

	<beans:bean name="fablabAuthProvider" class="net.collaud.fablab.api.security.FablabAuthentificationProvider" />
	
	<global-method-security pre-post-annotations="enabled" />
	
	<http>
		<intercept-url pattern="/api/v1/test**" access="ROLE_USER" method="GET" />
		<intercept-url pattern="*" access="" />
		<http-basic />
	</http>
	
	<authentication-manager>
		<authentication-provider ref="fablabAuthProvider"/>
	</authentication-manager>
 
</beans:beans>