<h1 translate="menu.machineTypes"></h1>
<div class="header-control">
    <div class="btn-group">
        <btn-create link="#/machineTypes/machineType-edit"></btn-create>          
    </div>
</div>
<div class="machine">
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="machineType in $data">
            <td 
                data-title="'machineType.name' | translate" 
                sortable="'name'"
                filter="{'name':'text'}">
                {{machineType.name}}
            </td>
            <td 
                data-title="'machineType.technicalname' | translate" 
                sortable="'technicalname'"
                filter="{'technicalname':'text'}">
                {{machineType.technicalname| lowercase}}
            </td>
            <td class="center"
                data-title="'machineType.restricted' | translate" >
                <input type="checkbox" ng-checked="machineType.restricted" disabled />
            </td>
            <td  class="listBtn2">
                <div class="btn-group">
                    <a class="btn btn-sm btn-default" href="#/machineTypes/machineType-edit/{{machineType.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button class="btn btn-sm btn-danger" 
                            ng-really-click="softRemove(machineType)"
                            ng-really-message="{{'machineType.confirmation.remove'|translate}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    </table> 
</div>