.audit .pressets{
	text-align: center;
	margin-bottom: 20px;
}
.audit .pressets button{
	margin: 5px;
}
.audit .form-group{
	margin-bottom: 0;
}

.audit .table .security{
	background: #ffb74d;
}
.audit .table .usage{
	background: #99ffff;
}
.audit .table .payment{
	background: #99ff99;
}
.audit .table .access_door{
	background: #dddddd;
}
.audit .table .user{
	background: #ffff66;
}
.audit .table .subscription{
	background: #ffff66;
}