<div class="user-accounting panel panel-default">
	<div class="panel-heading" translate="payment.history">
	</div>
	<div class="panel-body">
		<div class="bg-danger">
			<span translate="payment.balanceText" translate-values="{{user}}"></span>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th translate="payment.date"></th>
					<th translate="payment.amount"></th>
					<th translate="payment.details"></th>
					<th translate="payment.comment"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						delete
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

