<div class="user-accounting panel panel-default">
    <div class="panel-heading" translate="payment.history">
    </div>
    <div class="panel-body">
        <div class="alert" ng-class="{'alert-danger':balance < 0, 
                            'alert-success':balance >= 0}">
            <span translate="payment.balanceText" ></span>
            <span class="bold">{{balance}}</span>
            <span class="bold"> {{currency}}</span>
        </div>
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="h in history"
                ng-class="{'bg-danger' : h.amount < 0, 'bg-success' : h.amount > 0}">
                <td
                    data-title="'payment.date' | translate">
                    {{h.date|prettyDate}}</td>
                <td data-title="'payment.type' | translate">
                    {{h.type|lowercase}}</td>
                <td data-title="'payment.credit' | translate">
                    <span ng-if="h.amount > 0">{{h.amount|currency}}</span></td>
                <td data-title="'payment.debit' | translate">
                    <span ng-if="h.amount <= 0">{{-h.amount|currency}}</span></td>
                <td data-title="'payment.details' | translate">
                    {{h.detail}}</td>
                <td data-title="'payment.comment' | translate">
                    {{h.comment}}</td>
            </tr>
        </table>
    </div>
</div>

