<div class="ticketStatusEdit">
    <form class="form-horizontal" name="editTicketStatus" ng-submit="save(false)">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span ng-show="newTicketStatus" translate="ticketStatus.create"></span>
                <span ng-show="!newTicketStatus" translate="ticketStatus.edit"></span>
                <span ng-show="!newTicketStatus"> {{ticketStatus.label}}</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="ticketStatus.label"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" 
                               ng-model="ticketStatus.label" 
                               name="label"
                               duplicate="existingValues" 
                               uppercase 
                               required/>
                    </div>
                    <div class="col-sm-2 error-text">
                        <span ng-show="editTicketStatus.label.$error.duplicate" 
                              translate="ticketStatus.alreadyExist"></span>
                        <span ng-show="editTicketStatus.label.$error.required" ></span>
                    </div>
                </div>
            </div>
            <div class="panel-footer right">
                <btn-cancel link="#/ticketStatus"></btn-cancel>
                <btn-submit form="editTicketStatus"></btn-submit>
            </div>
        </div>
    </form>
</div>

