<h1 translate="menu.inOut"></h1>
<div class="accounting">
    <form name="accountingFilter" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading" translate="panel.search"></div>
            <div class="panel-body">
                <div class="pressets">
                    <button ng-repeat="i in intervals"
                            class="btn" type="button" 
                            ng-class="(i===selectedInterval ? 'btn-primary' : 'btn-default')"
                            translate="{{'accounting.' + i.label}}" 
                            ng-click="periodPreset(i)"></button>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 control-label" translate="filter.from"></label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input class="form-control" 
                                   datepicker-popup="{{format}}" 
                                   ng-model="criteria.dateFrom" 
                                   ng-change="dateManuallyUpdated()" 
                                   is-open="opened" 
                                   datepicker-options="dateOptions" 
                                   date-disabled="disabled(date, mode)" 
                                   ng-required="true" 
                                   close-text="Close"
                                   required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <label class="col-sm-1 control-label" translate="filter.to"></label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input class="form-control" 
                                   datepicker-popup="{{format}}" 
                                   ng-change="dateManuallyUpdated()" 
                                   ng-model="criteria.dateTo" 
                                   is-open="opened" 
                                   datepicker-options="dateOptions" 
                                   date-disabled="disabled(date, mode)" 
                                   ng-required="true" 
                                   close-text="Close"
                                   required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" 
                        class="btn btn-danger" 
                        ng-csv="export()" 
                        field-separator=";" 
                        charset='UTF-8'
                        filename="FabLab-Manager_Acounting_export.csv"
                        csv-header="['DATE', 'TYPE', 'CREDIT ACCOUNT' ,
                        'DEBIT ACCOUNT', 'CREDIT', 'DEBIT', 'USER', 'DETAIL', 'COMMENT']">
                    {{'button.export'| translate}}
                    <span class="glyphicon glyphicon-export"></span>
                </button>
                <button type="submit" class="btn btn-primary" 
                        ng-disabled="accountingFilter.$invalid"
                        ng-click="updateAccounting()">
                    {{'button.search'| translate}} 
                    <span class="glyphicon glyphicon-search"> </span>
                </button>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading" translate="accounting.summary"></div>
        <div class="panel-body results">
            <div class="col-sm-3 sell"><span translate="accounting.sell"></span> : {{results.sell|currency}}</div>
            <div class="col-sm-3 money-in" ><span translate="accounting.moneyIn"></span> : {{results.moneyIn|currency}}</div>
            <div class="col-sm-3 delta"><span translate="accounting.delta"></span> : {{results.delta|currency}}</div>
        </div>
    </div>

    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="h in history"
            ng-class="{'bg-success':h.amount > 0,
                           'bg-danger':h.amount <= 0}"
            >
            <td data-title="'general.date' | translate">{{h.date|prettyDate}}</td>
            <td data-title="'general.type' | translate">{{h.type|lowercase}}</td>
            <td data-title="'accounting.accountCredit' | translate">{{h.account_CREDIT}}</td>
            <td data-title="'accounting.accountDebit' | translate">{{h.account_DEBIT}}</td>
            <td data-title="'accounting.credit' | translate"><span ng-if="h.amount > 0">{{h.amount|currency}}</span></td>
            <td data-title="'accounting.debit' | translate"><span ng-if="h.amount <= 0">{{-h.amount|currency}}</span></td>
            <td data-title="'accounting.user' | translate">{{h.user|prettyUser}}</td>
            <td data-title="'general.detail' | translate">{{h.detail}}</td>
            <td data-title="'general.comment' | translate">{{h.comment}}</td>
        </tr>
    </table>
</div>