body{
	padding-top: 70px;
}
#footer{
	margin:0 10px;
	text-align: right;
	font-size: 0.85em;
}

#footer .github{
	width:24px;
}


.right{
	text-align: right;
}
.center{
	text-align: center;
}
.clear{
	clear: both;
}
.header-control{
	text-align: center;
	margin-bottom: 10px;
}
.ui-select-container small{
	color:#A0A0A0;
}

/*input.ng-invalid, select.ng-invalid{
	border: 1px solid #DD0000;
	background: red;
}*/

.bg-danger, bg-info, bg-warning, bg-success{
	padding:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.text-bold{
	font-weight: bold;
}

.drop-file{
	background: #F8F8F8;
    border: 3px dashed #DDD;
    height: 65px;
    text-align: center;
    padding-top: 15px;
    margin: 10px;
	vertical-align: middle;
	font-weight: bold;
	font-size:1.2em;
}
.drop-file.dragover{
	border: 3px dashed blue;
}
/* ---- grid ---- */
.masonry-grid-wrapper{
	margin: 0 auto;
	width:50%;
}
@media(max-width: 1100px){
	.masonry-grid-wrapper{
		width:100%;
	}
}
.masonry-grid {
	margin: 0 auto;
}
/* clearfix */
.masonry-grid:after {
	content: '';
	display: block;
	clear: both;
}
.masonry-grid-item {
	width: 300px;
	float: left;
}

.masonry-card{
	cursor: pointer;
	font-style: normal;
	text-decoration: none;
	color:black;
}
.masonry-card:hover{
	text-decoration: none;
}

.masonry-card .title{
	text-align: center;
	display: block;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	height: 30px;
	vertical-align: middle;
}

.masonry-card:hover .title{
	background: rgba(0, 0, 0, 0.2);
	color:black;
}

.masonry-card .introduction{
	display: none;
	padding: 10px;
	width: 100%;
	height: calc(100% - 30px);
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10;
}

.masonry-card:hover .introduction{
	display: block;
	background: rgba(255, 255, 255, 0.7);
}

/**
 * Markdown
 */
textarea.markdown-input{
	height: 1000px;
}

.markdown-output code{
	white-space: pre-line;
	display: block;
}

.markdown-output td, .projects .markdown-output th{
	border: 1px solid #888;
	padding: 3px;
}

form.editor{
	margin:0 15px;
	max-width: 500px;
}