
<table ng-table="tableParams" class="table">
    <tr ng-repeat="user in users">
        <td data-title="'user.firstname' | translate" sortable="'firstname'">{{user.firstname}}</td>
        <td data-title="'user.lastname' | translate" sortable="'lastname'">{{user.lastname}}</td>
        <td data-title="'user.email' | translate" sortable="'email'">{{user.email}}</td>
        <td data-title="'user.balance' | translate" sortable="'balance'">{{user.balance}}</td>
        <td data-title="'user.membership' | translate" sortable="'membershipType.name'">{{user.membershipType.name}}</td>
    </tr>
</table> 
