<h1 translate="menu.users"></h1>
<div class="header-control">
    <div class="btn-group">
        <btn-create link="#/users/user-edit"></btn-create>
        <!--
        NOT IMPLEMENTED
        <a class="btn btn-danger" href="#/users/export">{{'button.export'| translate}} <span class="glyphicon glyphicon-export"> </span></a>
        <a class="btn btn-warning" href=""
           ng-if="hasAnyRole('MAILINGLIST_MANAGE')"
           ng-click="updateMailingList()">{{'button.updateMailingList'| translate}} <span class="glyphicon glyphicon-envelope"> </span></a>-->
    </div>
</div>

<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td 
            data-title="'user.login' | translate" 
            sortable="'login'"
            filter="{'login':'text'}">
            {{user.login}}
        </td>
        <td 
            data-title="'user.firstname' | translate" 
            sortable="'firstname'"
            filter="{'firstname':'text'}">
            {{user.firstname}}
        </td>
        <td 
            data-title="'user.lastname' | translate" 
            sortable="'lastname'"
            filter="{'lastname':'text'}">
            {{user.lastname}}
        </td>
        <td 
            data-title="'user.email' | translate" 
            sortable="'email'"
            filter="{'email':'text'}">
            {{user.email}}
        </td>
        <td 
            data-title="'user.balance' | translate"
            sortable="'balance.value'"
            ng-class="{'negativBalance' : user.balance.value < 0}">
            {{user.balance.value|number:2}}
        </td>
        <td 
            data-title="'user.membership' | translate"
            sortable="'membershipTypeName'" 
            filter="{'membershipTypeName':'text'}">
            {{user.membershipType.name}}
        </td>
        <td  class="listBtn2">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="#/users/user-edit/{{user.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <button class="btn btn-sm btn-danger" 
                        ng-really-click="softRemove(user)"
                        ng-really-message="{{'user.confirmation.remove'|translate}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </td>
    </tr>
</table> 
