<h1 translate="menu.motionStocks"></h1>
<div class="motionStockList" >
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="motionStock in $data"
            ng-class="{ 'bg-warning':motionStock.io === 'Correction',
                        'bg-danger':motionStock.io === 'Sortie',
                        'bg-success':motionStock.io === 'Entrée' || motionStock.io === 'Entrée [ajout]'}">
            <td 
                data-title="'motionStock.motionDate' | translate" 
                sortable="'motionDate'"
                filter="{'motionDate':'text'}">
                {{motionStock.motionDate}}
            </td>
            <td 
                data-title="'motionStock.quantity' | translate" 
                sortable="'quantity'"
                filter="{'quantity':'text'}">
                {{motionStock.quantity}}
            </td>
            <td 
                data-title="'motionStock.io' | translate" 
                sortable="'io'"
                filter="{'io':'text'}">
                {{motionStock.io}}
            </td>
            <td 
                data-title="'motionStock.supply' | translate" 
                sortable="'supplyLabel'"
                filter="{'supplyLabel':'text'}">
                {{motionStock.supply.code}} - {{motionStock.supply.label}}
            </td>
            <td 
                data-title="'motionStock.user' | translate" 
                sortable="'userName'"
                filter="{'userName':'text'}">
                {{motionStock.user ? (motionStock.user|prettyUser) : "FabLab"}}
            </td>
        </tr>
    </table> 
</div>

