
<form name="form" class="form-horizontal" name="editReservation" ng-submit="save(false)">
	<div class="panel panel-default">
		<div class="panel-heading" translate="reservation.edit.title">
		</div>
		<div class="panel-body">

			<div class="form-group">
				<label class="col-sm-2 control-label" translate="reservation.user"></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" value="{{reservation.user|prettyUser}}" disabled />
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error':form.machine.$error.required}">
				<label class="col-sm-2 control-label" translate="reservation.machine"></label>
				<div class="col-sm-8">
					<select class="form-control" 
							name="machine"
							ng-model="reservation.machine"
							required
							ng-options="m.name group by m.machineType.name for m in machines track by m.id"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" translate="reservation.date"></label>
				<div class="col-sm-8">
					<p class="input-group">
						<input type="text" 
							   required
							   class="form-control" 
							   datepicker-popup="dd MMMM yyyy" 
							   ng-model="reservationDate"
							   is-open="opened" 
							   min-date="minDate" 
							   max-date="'2015-06-22'" 
							   datepicker-options="dateOptions" 
							   date-disabled="disabled(date, mode)" 
							   ng-required="true"
							   disabled="true"
							   close-text="X" />
						<span class="input-group-btn">
							<button type="button" 
									class="btn btn-default" 
									ng-click="open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error':timeError}">
				<label class="col-sm-2 control-label" translate="reservation.startTime"></label>
				<div class="col-sm-8">
					<timepicker ng-model="startTime" 
								ng-change="timeChanged()" 
								hour-step="hstep" 
								minute-step="mstep" 
								readonly-input="true"
								show-meridian="false"></timepicker>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error':timeError}">
				<label class="col-sm-2 control-label" translate="reservation.endTime"></label>
				<div class="col-sm-8">
					<timepicker ng-model="endTime" 
								ng-change="timeChanged()" 
								hour-step="hstep" 
								minute-step="mstep"
								readonly-input="true"
								show-meridian="false"></timepicker>
				</div>
			</div>

		</div>
		<div class="panel-footer right">
			<a href="#/reservations" class="btn btn-default btn-glyph" >{{'button.cancel'| translate}} <span class="glyphicon glyphicon-remove"></span></a>
			<button type="submit" class="btn btn-success btn-glyph">{{'button.save'| translate}} 
				<span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
		</div>
	</div>
</form>