<div class="projects">

	

	<div class="grid">
		<div ng-repeat="project in projects" class="grid-item">
			<img src="{{project.image_url}}" style="max-width: 100%" />
		</div>
	</div>

<!--	<a ng-repeat="project in projects" class="project-card"
	   href="/#/projects/{{project.id}}">
		<span class="title">{{project.title}}</span>
		<span class="introduction">{{project.introduction}}</span>
		<img src="{{project.image_url}}" style="max-width: 200px" />
	</a>-->

	<!--		<wiz-markdown-editor content="project.description" textareaclass="form-control">
				<wiz-toolbar-button ng-repeat="action in actions"
									command="{{action}}" buttonclass="btn btn-default">{{action}}</wiz-toolbar-button>
			</wiz-markdown-editor>
	
			<wiz-markdown content="project.description"></wiz-markdown>-->
</div>