
/**
 * One project
 */
.projects .actions{
	float:right;
	margin:0 10px;
}
.projects .members{
	float:right;
	border:1px solid #DDDDDD;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
}
.projects .members ul{
	list-style: none;
}
.projects .members .role{
	color:#888;
	font-style: italic;
	font-size: 0.9em;
}


