textarea.markdown-input{
	height: 200px;
}

/*
 * List of projects
 */

.projects .project-card{
	border:1px solid #DDDDDD;
    width: 200px;
    height: 150px;
    float: left;
    margin: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	border-radius: 5px;
}
.projects .project-card{
	font-style: normal;
	text-decoration: none;
	color:black;
}

.projects .project-card .title{
	text-align: center;
	display: block;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	height: 30px;
	vertical-align: middle;
}

.projects .project-card:hover .title{
	background: rgba(255, 255, 255, 0.8);
	color:black;
}

.projects .project-card .introduction{
	display: none;
}

.projects .project-card:hover .introduction{
	display: block;
	background: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
}

/**
 * One project
 */
.projects .actions{
	float:right;
	margin:0 10px;
}
.projects .members{
	float:right;
	border:1px solid #DDDDDD;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
}
.projects .members ul{
	list-style: none;
}
.projects .members .role{
	color:#888;
	font-style: italic;
	font-size: 0.9em;
}

.projects code{
	white-space: pre-line;
	display: block;
}

.projects .markdown-output td, .projects .markdown-output th{
	border: 1px solid #888;
	padding: 3px;
}


