<h1 translate="audit.title"></h1>

<div class="audit">
	<form name="auditFitler" class="form-horizontal">
		<div class="panel panel-default">
			<div class="panel-heading" translate="panel.search"></div>
			<div class="panel-body">
				<div class="pressets">
					<button ng-repeat="i in intervals"
							class="btn" type="button" 
							ng-class="(i===selectedInterval ? 'btn-primary' : 'btn-default')"
							translate="{{'accounting.' + i.label}}" 
							ng-click="periodPreset(i)"></button>
				</div>
				<div class="form-group">
					<div class="col-sm-1"></div>
					<label class="col-sm-1 control-label" translate="filter.from"></label>
					<div class="col-sm-4">
						<input class="form-control" type="date"
							   ng-change="dateManuallyUpdated()"
							   ng-model="criteria.dateFrom" required />
					</div>
					<label class="col-sm-1 control-label" translate="filter.to"></label>
					<div class="col-sm-4">
						<input class="form-control" type="date"
							   ng-change="dateManuallyUpdated()"
							   ng-model="criteria.dateTo" required />
					</div>
				</div>
			</div>
			<div class="panel-footer text-right">
<!--				<button type="button" class="btn btn-danger"ng-click="export()">
					{{'button.export'| translate}}
					<span class="glyphicon glyphicon-export"></span>
				</button>-->
				<button type="submit" class="btn btn-primary" 
						ng-disabled="auditFitler.$invalid"
						ng-click="updateAccounting()">
					{{'button.search'| translate}} 
					<span class="glyphicon glyphicon-search"> </span>
				</button>
			</div>
		</div>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th style="width:130px" translate="general.date"></th>
				<th style="width:100px" translate="audit.object"></th>
				<th style="min-width:150px"translate="general.user"></th>
				<th translate="audit.content"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="h in history"
				ng-class="h.object|lowercase">
				<td>{{h.when|formatTimestamp:'DD.MM.YYYY HH:mm'}}</td>
				<td>{{h.object}}</td>
				<td>{{h.who|prettyUser}}</td>
				<td>{{h.content}}</td>
			</tr>
		</tbody>
	</table>
</div>