<div class="machines">
	<div class="actions">
		<a href="" class="btn btn-primary">Save</a>
	</div>

	<form class="form-horizontal editor">
		<div class="form-group">
			<label class="form-label">Title</label>
			<input type="text" class="form-control" ng-model="machine.name" />
		</div>

		<div class="form-group">
			<label class="form-label">Image url</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="machine.image_url" />
				<span class = "input-group-btn">
					<button class = "btn btn-default" type = "button">
						Assets
					</button>
				</span>
				<!--<span class="input-group-addon" id="basic-addon2">@example.com</span>-->
				<!--<button type="button" class="input-group-btn">Assets</button>-->
			</div>
		</div>
	</form>
	<markdown-editor ng-model="machine.description"></markdown-editor>
</div>