.machines .masonry-grid-item{
	width: 400px;
}

/**
 * One Machines
 */
.machines .actions{
	float:right;
	margin:0 10px;
}
.machines .image{
	float:right;
	border:1px solid #DDDDDD;
	width: 420px;
	padding: 10px;
	border-radius: 5px;
}