.machines .masonry-grid-item{
	width: 400px;
}

/**
 * One Machines
 */
.machines .information{
	float:right;
	margin:0 10px;
}
.machines .information div{
	padding: 10px;
	border:1px solid #DDDDDD;
	width: 420px;
	border-radius: 5px;
}
.machines .information .actions{
	text-align: center;
}