
<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="asset in $data">
        <td 
			data-title="'asset.firstname' | translate" 
			sortable="'title'"
			filter="{'title':'text'}">
			{{asset.title}}
		</td>
        <td 
			data-title="'asset.lastname' | translate" 
			sortable="'lastname'"
			filter="{'lastname':'text'}">
			{{asset.dateUpload}}
		</td>
        <td 
			data-title="'asset.email' | translate" 
			sortable="'email'"
			filter="{'email':'text'}">
			{{asset.size}}
		</td>
    </tr>
</table> 
